<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
<!-- 			<param name="ConversionPattern"  -->
<!-- 					value="%F %l %L [%d{yyyy/MMM/dd HH시mm분ss초}] [%-5p]: %c{2} %M() %t - %m%n" /> -->
			<param name="ConversionPattern" 
					value="{%d{yyyy-MM-dd HH:mm:ss.SSS}} [%-5p] (%c.%M(): %L) - %m%n" />
		</layout>
	</appender>
	
	<!-- 1.log file save -->
	<appender name="testFileLog" 
			class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File"
			value="C:\\MULTI_EDU\\springFrameWork\\spring13log4j\\src\\main\\webapp\\WEB-INF\\testFileLog.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="{%d{yyyy-MM-dd HH:mm:ss.SSS}} [%-5p] (%c.%M(): %L) - %m%n" />
		</layout>
	</appender>
	
	<!-- Application Loggers -->
	<logger name="test.com.spring18log4j">
		<level value="info" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
		<appender-ref ref="testFileLog" />
	</root>
	
</log4j:configuration>
